# Redis 
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=300

# OpenWeather
OPENWEATHER_API_KEY=miapikey
# el endpoint de la api de openweather
BASE_URL=https://api.openweathermap.org/data/2.5/weather


